@import "tailwindcss";

@theme {
  --color-king-yellow: #FFD700;
  --color-king-dark: #1a1a1a;
  --color-king-gray: #333333;
  --font-sans: 'Inter', sans-serif;
}

/* Custom Utilities if needed */
.text-stroke {
  -webkit-text-stroke: 1px black;
}